.questions{
    position: sticky;
    top: 0px;
    background-color: #1B3247;
    display: flex;
    float: left;
    margin: 1% 1% 1% 1%;
    flex-direction: column;
    height: 100vh; 
    border-radius: 12px;
    width:300px;
  }
  .question-link{
    text-decoration: none;
  }
 
  .smth_link{
    text-decoration: none;
    color:white;
  }
  .smth_link:hover{
    color: rgb(2, 156, 156);
  }
  .razd{
    font-size: 30px;
    height: 40px;
    width: 90%;
    display: flex;
    border-bottom: 2px solid white;
    padding-top: 30px;
    padding-bottom: 40px;
    font-size: 30px;
    height: 40px;
    width: 90%;
    margin-left: 5%;
    color: #ffffff;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    align-content: flex-end;
    flex-wrap: nowrap;
    margin-bottom: 0;
  }
  .smth:hover{
    color:#50d3ff;
  }
  .smth{
    padding-left: 35px;
    padding-right: 35px;
    cursor: pointer;
    text-align: center;
    color: white;
    font-size: 20px;
    border-bottom: 2px solid white;
    width: 90%;
    margin-left: 5%;
    color: #ffffff;
    padding-bottom: 15px;
    padding-top: 15px;
  }
  @media  (min-width: 581px) and (max-width: 707px){
.questions{
  width: 190px;
}
.smth{
 
  font-size: 15px;
}
  }
  @media screen and (max-width: 545px) {
   .razd{font-size: 15px;}
    .questions{
      width: 45%;
    }
    .smth{
        cursor: pointer;
        text-align: center;
        color: white;
        font-size: 16px;
        border-bottom: 2px solid white;
        color: #ffffff;
        padding-left: 15%;
      }
}
@media screen and (max-width: 500px) {
    .smth{
        font-size: 10px;
      }
}